/* styles.css */

.heading {
    font-weight: bold;
    font-family: "Helvetica";
}

.box {
    max-width: 1000px;
    margin: 0 auto;

    padding: 1em;
    border-radius: .5em;
    border: 5px solid rebeccapurple;
    background-color: whitesmoke;
}

.text {
    font-family: "Brush Script MT", "Lucida Console", cursive;
    color:#3333cc;
    background-color: #ffccff;
}

.label {
    font-family: "Helvetica";
}

.container {
    background: white;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    
}